.root {
    @apply relative
    flex
    aspect-[1.90/1]
    items-center
    rounded
    border
    border-neutral-900
    bg-neutral-950;

    &::after {
        @apply bg-gradient-radial
        md:blur-3xl
        blur-2xl
        absolute
        inset-0
        m-auto
        aspect-square
        w-1/3
        rounded-full
        content-[''];
    }

    &.default::after {
        @apply from-lime-600/60;
    }

    &.announcements::after {
        @apply from-green-700/90;
    }

    &.release::after {
        @apply from-info-600/90;
    }

    &.vulnerability::after {
        @apply from-warning-600/90;
    }

    .container {
        @apply md:gap-6
        md:text-lg
        lg:gap-8
        lg:text-xl
        xl:gap-12
        xl:text-2xl
        2xl:text-3xl
        z-10
        mx-auto
        flex
        w-2/3
        max-w-xl
        flex-col
        gap-4
        text-center
        text-xs
        font-semibold
        text-white;

        .hexagon {
            @apply md:h-3/5
            md:w-3/5
            lg:h-2/3
            lg:w-2/3
            xl:h-3/5
            xl:w-3/5
            2xl:h-2/3
            2xl:w-2/3
            absolute
            inset-0
            m-auto
            -z-10
            size-full;
        }

        .logo {
            @apply md:size-14
            lg:size-16
            xl:size-20
            mx-auto
            size-10;
        }
    }
}
