.directoryItem {
    @apply list-none
    transition-all duration-300
    text-sm font-normal
    text-gray-500 
    dark:text-white
    hover:text-gray-700/90 
    cursor-pointer;
}

.subtitle {
    @apply block
    rounded-tl-lg
    rounded-bl-lg 
    py-1
    text-xs
    font-medium
    hover:bg-accent/50 
    dark:text-gray-600/90 
    transition-colors 
    text-foreground/60
    ease-out;

    &:hover,
    &:active {
        @apply text-lime-500
        bg-gray-200/60
        dark:bg-fluo-background;
    }

    &.active {
        @apply text-lime-500
        bg-gray-950/90
        dark:bg-fluo-background;
    }
}

.directoryItem span {
    @apply block text-sm px-3;
}
