.directoryItem {
    @apply list-none
    transition-all duration-300
    text-sm font-normal
    text-gray-500 
    dark:text-white
    hover:text-gray-700/90 
    cursor-pointer;
}

.subtitle {
    @apply block
    rounded-tl-lg
    rounded-bl-lg 
    py-1
    transition-all ease-out;

    &:hover {
        @apply bg-lime-100/80
        text-fluo-deep
        dark:bg-fluo-background
        font-bold;
    }

    &:active {
        @apply bg-lime-500/80
        text-fluo-deep
        font-bold;
    }
}

.directoryItem span {
    @apply block text-sm px-3;
}
