:root {
    --fluo: #1db854;
    --fluo-primary: #1db854; /* 主荧光绿色 */
    --fluo-deep: #1d9041; /* 深荧光绿色 */
    --fluo-light: #82f9ac; /* 浅荧光绿色 */
    --fluo-soft: #b0fbbc; /* 柔和荧光绿色 */
    --fluo-pale: #e6fff7; /* 淡荧光绿色 */
    --fluo-mute: #d1f5e8; /* 柔和荧光绿色（更淡） */
    --fluo-background: #f9faff; /* 荧光背景色 */

    --fluo-gradual: #bdfa5c; /* 深荧光绿渐变 */
    --fluo-gradual-start: #bdfa5c; /* 渐变起始色 */
    --fluo-gradual-end: #1db854; /* 渐变结束色 */

    /* 滚动条相关颜色 */
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #c1c1c1;
    --scrollbar-thumb-hover: var(--fluo-primary);

    /* layout variable*/
    --nr-header-h: 60px;
    --nr-footer-h: 86px;
    --nr-sidebar: 260px;
    --nr-top-boundary: 80px;
}

[data-theme='dark'],
.dark {
    --fluo-: #bdfa5c;
    --fluo-primary: #00d26e; /* 主荧光绿色（暗色模式） */
    --fluo-deep: #1d9041; /* 深荧光绿色（暗色模式） */
    --fluo-light: #2ecf8e; /* 浅荧光绿色（暗色模式） */
    --fluo-soft: #3ad79c; /* 柔和荧光绿色（暗色模式） */
    --fluo-pale: #52e0b0; /* 淡荧光绿色（暗色模式） */
    --fluo-mute: #6adbb9; /* 柔和荧光绿色（更淡，暗色模式） */
    --fluo-background: #1e2226; /* 荧光背景色（暗色模式） */

    /* 滚动条相关颜色 */
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #c1c1c1;
    --scrollbar-thumb-hover: var(--fluo-primary);
}
